<aside>
	<div class="panel radius" markdown="1">
		<h3>Meetups</h3>
		<p>
			Archethought sponsors or co-sponsors several meetups. Come check us out!
			<li> <a href="https://www.meetup.com/Applied-Data-Engineering/" target="_blank" >Longmont Data Science</a></li>
			<li> <a href="https://www.meetup.com/Smart-Cities-Initiative/" target="_blank" >Smart Cities Initiative</a></li>
			<li> <a href="https://www.meetup.com/CoSolve/" target="_blank" >CoSolve networking</a></li>
			<li> <a href="https://www.meetup.com/Startup-Longmont/" target="_blank" >Startup Longmont</a></li>
			<li> <a href="https://www.meetup.com/Fort-Collins-Longmont-CodeLab-Meetup/" target="_blank" >Code Lab</a></li>
		</p>
	</div>
	<div class="border-dotted radius b10" style="horizontal-align:middle">
		<a href="https://www.cosolve.co/" target="_blank">
			<img class="b30" src="{{ site.urlimg }}cosolve.jpg" alt="CoSolve"> 
			<br />Enriching the Community
		</a>
	</div>
<!--
	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
-->
</aside>